<div class="content full">
	<div
		class="row full {{row.outer.class}}"
		ng-repeat="row in contents.rows"
		style="
			background-image:url({{row.bg.img}});
			background-color:{{row.bg.color}};
			background-size:{{row.bg.size}};
			background-repeat:{{row.bg.repeat}};
			background-position:{{row.bg.position}};
			background-attachment:{{row.bg.attachment}};
		"
		parallax-background parallax-ratio="{{row.bg.parallax}}"
	>
		<div class="wrapper">
			<div class="full {{row.inner.class}}">
				<div class="widget {{widget.type}} {{widget.size}} {{widget.class}}" ng-repeat="widget in row.widgets" ng-include="'app/modules/' + widget.type + '/' + widget.type + '.html'">
					<!-- Widget -->
				</div>
			</div>
		</div>
	</div>
</div>