<div class="slideshow full">
	<div class="wrapper middle">
		<div
			class="slide white-txt full"
			ng-repeat="slide in slides"
			ng-show="slide.visible"
			ng-animate="animate"
			ng-swipe-left="next()"
			ng-swipe-right="prev()"
			>
			<div class="full pad center">
				<h1>Transparency meets supply chain</h1>				
			</div>
			<a class="half pad" ng-click="next()">
				<img class="full healthscore middle" src="assets/images/icons/{{slide.icon}}">
			</a>
			<div class="half pad white-txt">
				<h2>{{slide.headline}}</h2>
				<p><i>{{slide.question}}</i></p>
				<p>{{slide.text}}</p>
				<a class="button" ng-controller="SalesforceController" ng-click="popover()">What's your score?</a>
			</div>
		</div>
	</div>
	<button id="prev" class="slidenav" ng-click="prev()"><span class="icon-arrow_left"></span></button>
	<button id="next" class="slidenav" ng-click="next()"><span class="icon-arrow_right"></span></button>
</div>