<div class="slider full">
	<div
		class="slide darkgray-txt center full"
		ng-repeat="slide in slides"
		ng-show="slide.visible"
		ng-animate="animate"
		ng-swipe-left="next()"
		ng-swipe-right="prev()"
		>
		<div class="half">
			<p>{{slide.text}}</p>			
		</div>
		<a class="half pad" ng-click="next()">
			<img class="full" src="assets/images/icons/{{slide.icon}}">							
		</a>
	</div>
	<button id="prev" class="slidenav" ng-click="prev()"><span class="icon-arrow_left"></span></button>
	<button id="next" class="slidenav" ng-click="next()"><span class="icon-arrow_right"></span></button>
</div>