<footer class="full">
	<div class="wrapper middle">
		<div class="half pad">
			<nav>
				<p>
					<span ng-repeat="navitem in sitemap.footer.navitems">
						<a href="{{navitem.link}}">{{navitem.title}}</a>
						<br>
					</span>
				</p>
			</nav>
			<social class="content half"></social>
		</div>
		<div class="contact half pad">
			<contact class="content half"></contact>
		</div>
		<copyright class="content full"></copyright>
	</div>
</footer>

<footer class="full" ng-controller="SitemapController as sitemap">
			<div class="wrapper middle">
				<div class="half pad">
					<div class="social">
						<p>Follow Us:</p>
						<ul>
							<li ng-repeat="social in socials">
								<a href="{{social.link}}" target="_blank">
									<img src="assets/images/icons/social_icon_facebook.png" alt="">
								</a>
							</li>
							<li ng-repeat="social in socials">
								<a href="{{social.link}}" target="_blank">
									<img src="assets/images/icons/social_icon_twitter.png" alt="">
								</a>
							</li>
							<li ng-repeat="social in socials">
								<a href="{{social.link}}" target="_blank">
									<img src="assets/images/icons/social_icon_linkedin.png" alt="">
								</a>
							</li>
							<li ng-repeat="social in socials">
								<a href="{{social.link}}" target="_blank">
									<img src="assets/images/icons/social_icon_google_plus.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="contact half pad">
					<p>Paradata</p>
					<p>
						<a href="https://goo.gl/maps/4d6BKC2FUJE2" target="_blank">
							200 North Almaden Blvd. Suite 250<br>
							San Jose, California 95110
						</a>
					</p>
					<p>
						<a href="tel:1-408-791-2070">408-791-2070</a><br>
						<a href="mailto:info@paradata.io">info@paradata.io</a>
					</p>
				</div>
			</div>
			<div class="darkgray-bg center full">
				<h6>&copy; 2015 Paradata, all rights reserved.</h6>
			</div>
		</footer>