<p class="{{content.config.size}} {{content.config.class}}" ng-model="content.config.text"></p>
<div class="full pad" background-color="rgba(0,0,0,0.2)">
	<label for="text">Text</label>
	<input name="text" type="text" ng-model="content.config.text" value="{{content.config.text}}">
	<label for="class">Class</label>
	<input type="class" ng-model="{{content.config.class}}" value="{{content.config.class}}">
	<label for="size">Size</label>
	<input type="size" ng-model="{{content.config.size}}" value="{{content.config.size}}">
</div>