<nav class="full">
	<div class="logo desktop">
		<a href="#"></a>
	</div>
	<div class="logo tablet mobile">
		<a href="#"></a>
	</div>
	<ul>
		<li class="desktop tablet" ng-repeat="navitem in sitemap.header.navitems">
			<a class="white-txt" href="{{navitem.link}}">{{navitem.title}}</a>
		</li>
		<li class="nav-cta">
			<a class="white-txt desktop tablet" href="https://ba.paradata.io/#/login/" target="_blank">Log in</a>
			<a class="white-txt mobile" ng-controller="SalesforceController" ng-click="popover()">Schedule a demo</a>
		</li>
		<li class="menu-button mobile">
			<a><img src="assets/images/icons/menu-icon.png"></a>
			<ul class="menu darkgray-bg full">
				<li class="full" ng-repeat="navitem in sitemap.header.navitems">
					<a class="white-txt full center" href="{{navitem.link}}">{{navitem.title}}</a>
				</li>
			</ul>
		</li>
		<div class="email-signup popover texture-bg darkgray-bg">
			<mailchimp></mailchimp>
		</div>
	</ul>
</nav>