<div class="white-bg full">
	<div class="wrapper middle">
		<!-- New pricing model -->
		<div class="cd-pricing-container">
			<!-- Price switcher
			<div class="cd-pricing-switcher">
				<p class="fieldset">
					<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
					<label for="monthly-1">Monthly</label>
					<input type="radio" name="duration-1" value="yearly" id="yearly-1">
					<label for="yearly-1">Yearly</label>
					<span class="cd-switch"></span>
				</p>
			</div>
			Price switcher -->
			<ul class="cd-pricing-list cd-bounce-invert full">
				<li class="half pad">
					<ul class="cd-pricing-wrapper full">
						<li data-type="monthly" class="is-visible full">
							<header class="cd-pricing-header">
								<h2 class="full">1 Year Plan</h2>
								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">166</span>
									<span class="cd-duration">bom / mo</span>
								</div>
							</header> <!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>$16</em> / bom (10+) / mo</li>
									<li><em>$1999</em> / bom / yr</li>
									<li><em>$199</em> / bom (10+) / yr</li>
								</ul>
							</div> <!-- .cd-pricing-body -->
						</li>

						<li data-type="yearly" class="is-hidden full">
							<header class="cd-pricing-header">
								<h2 class="full">1 Year Plan</h2>
								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">1999</span>
									<span class="cd-duration">bom / yr</span>
								</div>
							</header> <!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>$199</em> / bom (10+) / yr</li>
								</ul>
							</div> <!-- .cd-pricing-body -->
						</li>
					</ul> <!-- .cd-pricing-wrapper -->
				</li>

				<li class="cd-popular half pad">
					<ul class="cd-pricing-wrapper full">
						<li data-type="monthly" class="is-visible full">
							<header class="cd-pricing-header">
								<h2 class="full">3 Year Plan</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">83</span>
									<span class="cd-duration">bom / mo</span>
								</div>
							</header> <!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>$8</em> / bom (10+) / mo</li>
									<li><em>$999</em> / bom / yr</li>
									<li><em>$99</em> / bom (10+) / yr</li>
								</ul>
							</div> <!-- .cd-pricing-body -->
						</li>

						<li data-type="yearly" class="is-hidden full">
							<header class="cd-pricing-header">
								<h2 class="full">3 Year Plan</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">999</span>
									<span class="cd-duration">bom / yr</span>
								</div>
							</header> <!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>$99</em> / bom (10+) / yr</li>
								</ul>
							</div> <!-- .cd-pricing-body -->
						</li>
					</ul> <!-- .cd-pricing-wrapper -->
				</li>
			</ul> <!-- .cd-pricing-list -->
		</div> <!-- .cd-pricing-container -->
		<!-- End new pricing model -->

		<!-- Old pricing table
		<div class="pad half" ng-repeat="price in prices">
			<h3 class="center">{{price.plan}}</h3>
			<table class="full desktop">
				<tbody class="full">
					<tr class="full center">
						<td class="half pad"><h4>First 10 boms<h4></td>
						<td class="half pad"><h4>Additional boms</h4></td>
					</tr>
					<tr class="full center">
						<td class="half pad">{{price.cost.first10boms.annual}} / bom / year</td>
						<td class="half pad">{{price.cost.additionalboms.annual}} / bom / year</td>
					</tr>
					<tr class="full center">
						<td class="half pad"><b>{{price.cost.first10boms.monthly}}</b> / bom / month</td>
						<td class="half pad"><b>{{price.cost.additionalboms.monthly}}</b> / bom / month</td>
					</tr>
				</tbody>
			</table>
			<table class="full tablet mobile">
				<tbody class="full">
					<tr class="full center">
						<td class="full pad"><h4>First 10 boms<h4></td>
						<td class="full pad">{{price.cost.first10boms.annual}} / bom / year</td>
						<td class="full pad"><b>{{price.cost.first10boms.monthly}}</b> / bom / month</td>
					</tr>
					<tr class="full center">
						<td class="full pad"><h4>Additional boms</h4></td>
						<td class="full pad">{{price.cost.additionalboms.annual}} / bom / year</td>
						<td class="full pad"><b>{{price.cost.additionalboms.monthly}}</b> / bom / month</td>
					</tr>
				</tbody>
			</table>
			<div class="full pad">
				<h4>Features:</h4>
				<ul>
					<li ng-repeat="detail in price.details">{{detail.text}}</li>
				</ul>
			</div>
		</div>
		-->

		<div class="full pad center">
			<a href="" class="button-body" ng-controller="SalesforceController" ng-click="popover()">Schedule a demo</a>
			<div class="salesforce-form popover texture-bg darkgray-bg">
				<salesforce></salesforce>
			</div>
		</div>
	</div>
</div>