<div class="white-bg full">
	<div class="wrapper middle">
		<div class="pad half" ng-repeat="price in prices">
			<h3 class="center">{{price.plan}}</h3>
			<table class="full desktop">
				<tbody class="full">
					<tr class="full center">
						<td class="half pad"><h4>First 10 SKUs<h4></td>
						<td class="half pad"><h4>Additional SKUs</h4></td>
					</tr>
					<tr class="full center">
						<td class="half pad">{{price.cost.first10skus.annual}} / SKU / year</td>
						<td class="half pad">{{price.cost.additionalskus.annual}} / SKU / year</td>
					</tr>
					<tr class="full center">
						<td class="half pad"><b>{{price.cost.first10skus.monthly}}</b> / SKU / month</td>
						<td class="half pad"><b>{{price.cost.additionalskus.monthly}}</b> / SKU / month</td>
					</tr>
				</tbody>
			</table>
			<table class="full tablet mobile">
				<tbody class="full">
					<tr class="full center">
						<td class="full pad"><h4>First 10 SKUs<h4></td>
						<td class="full pad">{{price.cost.first10skus.annual}} / SKU / year</td>
						<td class="full pad"><b>{{price.cost.first10skus.monthly}}</b> / SKU / month</td>
					</tr>
					<tr class="full center">
						<td class="full pad"><h4>Additional SKUs</h4></td>
						<td class="full pad">{{price.cost.additionalskus.annual}} / SKU / year</td>
						<td class="full pad"><b>{{price.cost.additionalskus.monthly}}</b> / SKU / month</td>
					</tr>
				</tbody>
			</table>
			<div class="full pad">
				<h4>Features:</h4>
				<ul>
					<li ng-repeat="detail in price.details">{{detail.text}}</li>
				</ul>
			</div>
		</div>

<!-- New pricing model -->
	<div class="cd-pricing-container">
		<div class="cd-pricing-switcher">
			<p class="fieldset">
				<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
				<label for="monthly-1">Monthly</label>
				<input type="radio" name="duration-1" value="yearly" id="yearly-1">
				<label for="yearly-1">Yearly</label>
				<span class="cd-switch"></span>
			</p>
		</div> <!-- .cd-pricing-switcher -->
		
		<ul class="cd-pricing-list cd-bounce-invert">
			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Basic</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">30</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>256MB</em> Memory</li>
								<li><em>1</em> User</li>
								<li><em>1</em> Website</li>
								<li><em>1</em> Domain</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Basic</h2>
							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">320</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>256MB</em> Memory</li>
								<li><em>1</em> User</li>
								<li><em>1</em> Website</li>
								<li><em>1</em> Domain</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li class="cd-popular">
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">60</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>512MB</em> Memory</li>
								<li><em>3</em> Users</li>
								<li><em>5</em> Websites</li>
								<li><em>7</em> Domains</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Popular</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">630</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>512MB</em> Memory</li>
								<li><em>3</em> Users</li>
								<li><em>5</em> Websites</li>
								<li><em>7</em> Domains</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer> <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>

			<li>
				<ul class="cd-pricing-wrapper">
					<li data-type="monthly" class="is-visible">
						<header class="cd-pricing-header">
							<h2>Premier</h2>

							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">90</span>
								<span class="cd-duration">mo</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>1024MB</em> Memory</li>
								<li><em>5</em> Users</li>
								<li><em>10</em> Websites</li>
								<li><em>10</em> Domains</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>

					<li data-type="yearly" class="is-hidden">
						<header class="cd-pricing-header">
							<h2>Premier</h2>
							<div class="cd-price">
								<span class="cd-currency">$</span>
								<span class="cd-value">950</span>
								<span class="cd-duration">yr</span>
							</div>
						</header> <!-- .cd-pricing-header -->

						<div class="cd-pricing-body">
							<ul class="cd-pricing-features">
								<li><em>1024MB</em> Memory</li>
								<li><em>5</em> Users</li>
								<li><em>10</em> Websites</li>
								<li><em>10</em> Domains</li>
								<li><em>Unlimited</em> Bandwidth</li>
								<li><em>24/7</em> Support</li>
							</ul>
						</div> <!-- .cd-pricing-body -->

						<footer class="cd-pricing-footer">
							<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
						</footer>  <!-- .cd-pricing-footer -->
					</li>
				</ul> <!-- .cd-pricing-wrapper -->
			</li>
		</ul> <!-- .cd-pricing-list -->
	</div> <!-- .cd-pricing-container -->
<!-- End new pricing model -->

		<div class="full pad center">
			<a href="" class="button-body" ng-controller="SalesforceController" ng-click="popover()">Schedule a demo</a>
			<div class="salesforce-form popover texture-bg darkgray-bg">
				<salesforce></salesforce>
			</div>
		</div>
	</div>
</div>